{% extends "base.html" %}
{% block content %}

<h2>Update a Class</h2>

<form action="/classes/{{ classes.id }}" method="POST">

    <form action="/classes/{{ classes.id }}" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ classes.name }}">
         
        </div>
        <div>
            <label for="Date">Date:</label>
            <input type="text" id="date" name="date" value="{{ classes.date }}">
          
        </div>
        <div>
            <label for="Time">Time:</label>
            <input type="text" id="time" name="time" value="{{ classes.time }}">
            <input type="submit">
        </div>
    </form>





</form>

{% endblock %}