{% extends "base.html" %}
{% block content %}

<h2>Update a Booking</h2>

<form action="/bookings/{{ booking.id }}" method="POST">
    <div>
        <label for="gym_class">Gym Class:</label>
        <select name="gym_class_id" id="gym_class">
            {% for class in classes %}
            <option value="{{ classes.id }}" {% if class.id == booking.class.id %} selected {% endif %}>
                {{ class.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="user">Member:</label>
        <select name="user_id" id="user">
            {% for user in users %}
            <option value="{{ user.id }}" {% if user.id == booking.user.id %} selected {% endif %}>
                {{ user.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}